<svg viewBox="0 0 900 600">
  <path [attr.d]="activeFrame[0]" fill="url(#grad-1)"></path>
  <path [attr.d]="activeFrame[1]" fill="url(#grad-2)"></path>
  <path [attr.d]="activeFrame[2]" fill="url(#grad-3)"></path>
  <path [attr.d]="activeFrame[3]" fill="url(#grad-4)"></path>
  <path [attr.d]="activeFrame[4]" fill="url(#grad-5)"></path>
</svg>

<svg
  style="width: 0; height: 0; position: absolute"
  aria-hidden="true"
  focusable="false"
>
  <linearGradient id="grad-1" x2="1" y2="0">
    <stop offset="10%" stop-color="#212225" />
    <stop offset="50%" stop-color="#ffb20080" />
    <stop offset="90%" stop-color="#212225" />
  </linearGradient>
</svg>
<svg
  style="width: 0; height: 0; position: absolute"
  aria-hidden="true"
  focusable="false"
>
  <linearGradient id="grad-2" x2="1" y2="0">
    <stop offset="10%" stop-color="#212225" />
    <stop offset="50%" stop-color="#f16c5480" />
    <stop offset="90%" stop-color="#212225" />
  </linearGradient>
</svg>
<svg
  style="width: 0; height: 0; position: absolute"
  aria-hidden="true"
  focusable="false"
>
  <linearGradient id="grad-3" x2="1" y2="0">
    <stop offset="10%" stop-color="#212225" />
    <stop offset="50%" stop-color="#ab4c7080" />
    <stop offset="90%" stop-color="#212225" />
  </linearGradient>
</svg>
<svg
  style="width: 0; height: 0; position: absolute"
  aria-hidden="true"
  focusable="false"
>
  <linearGradient id="grad-4" x2="1" y2="0">
    <stop offset="10%" stop-color="#212225" />
    <stop offset="50%" stop-color="#543d5d80" />
    <stop offset="90%" stop-color="#212225" />
  </linearGradient>
</svg>
<svg
  style="width: 0; height: 0; position: absolute"
  aria-hidden="true"
  focusable="false"
>
  <linearGradient id="grad-5" x2="1" y2="0">
    <stop offset="10%" stop-color="#212225" />
    <stop offset="50%" stop-color="#212225" />
    <stop offset="90%" stop-color="#212225" />
  </linearGradient>
</svg>
