<div class="timeline-container mx-auto overflow-clip" #timelineContainer>
  <div class="line bg-secondary"></div>
  <div class="timeline-row" *ngFor="let data of experienceData">
    <app-timeline-item>
      <h2 class="text-secondary mb-5">
        <strong class="text-dark">{{ data.title }}</strong> @
        {{ data.employer }}
      </h2>
      <p *ngFor="let paragraph of data.description" [innerHTML]="paragraph"></p>
      <h3 class="mt-5">
        {{ data.date.from | date: "MMMM y" }} -
        {{
          data.date.to === "present"
            ? "Present"
            : (data.date.to | date: "MMMM y")
        }}
      </h3>
    </app-timeline-item>
    <div class="connector"></div>
  </div>
  <div class="timeline-row" *ngFor="let data of educationData">
    <app-timeline-item>
      <h2>
        <strong>{{ data.diploma }}</strong>
      </h2>
      <h3 class="text-secondary">{{ data.school }}</h3>
      <h4 *ngIf="data.notableClasses" class="mt-5">Notable classes:</h4>
      <ul class="px-0">
        <li
          *ngFor="let class of data.notableClasses"
          class="
            h5
            me-2
            d-inline-block
            rounded-pill
            px-3
            py-2
            bg-primary
            text-light
          "
        >
          {{ class }}
        </li>
      </ul>
      <h3 class="mt-5">
        {{ data.date.from | date: "MMMM y" }} -
        {{
          data.date.to === "present"
            ? "Present"
            : (data.date.to | date: "MMMM y")
        }}
      </h3>
    </app-timeline-item>
    <div class="connector"></div>
  </div>
</div>
